header h1 {
    text-transform:full-width;
}

.header_img video {
    width: 100%;
}
.area-1_all{
    width: 100%;
    height: 100vh;
    background-image: url(green_background.jpg);
    background-size: cover;
    backdrop-filter: blur(5px);
    display: flex;
    justify-content: space-around;
}
.left_top{
    background-color: white;
    width: 70%;
    border-radius: 10px;
    position: relative;
}
.left_img{
    position: absolute;
    top: 0;
    left: 50%;
    width: 60%;
}


